
  <% if current_user && current_user.admin %>
    <%= link_to "Add a Post", new_post_path %>
  <% end %>

  <h1>Thoughts and Such</h1>

  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.description %></p>

    <ul class="list-unstyled comments">
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <li class="comment">
            <p><%= comment.description %></p>
            <p>Posted By: <%= User.find(comment.user_id).username %></p>
          </li>
        <% end %>
      <% end %>
    </ul>

    <% if current_user %>
      <%= link_to "Add Comment", new_post_comment_path(post), :id => "add-comment", remote: true %>
    <% end %>
  <% end %>
